.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.postList {
    width: 600px;
    padding: 0px 50px 0px 50px;
    margin-top: 50px;
    list-style: none;
}

.postList li {
    margin: 30px;
}

.title {
    font-weight: bold;
    padding-bottom: 10px;
}

.line {
    width: 450px;
    margin: 0 auto;
}